body{
    display: flex;
    flex-direction: column;
    color: white;
}

h2{
    color: rgb(255, 255, 255);
}

#loginForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:5%;
    height: 80vh;



}

#email{
    border: 1px solid gray;
     height: 45px;
    width: 240px;

    text-align: center;
    margin-top: 2%;
    color: grey;
    margin-bottom: 3%;
    border-radius: 5px;
}

#password{
    border: 1px solid gray;
    
    text-align: center;
    height: 45px;
    width: 240px;
    margin-top: 2%;
    color: grey;
    border-radius: 5px;
}

#submit{
    border: none;
    margin-top: 8%;
    width: 50vw;
    height: 8vh;
    color: rgb(255, 255, 255);
    background-color: rgb(1, 82, 1);
    border-radius: 4px;
}   






@media screen and (max-width: 500px){


#email{
     width: 80%;
    min-height: 45px;

}

#password{
    width: 80%;
    min-height: 45px;
}



#submit{
    width: 60%; 
    min-height: 45px;


}   







}