*{
    margin: 0px;
    padding: 0px;
    font-family: font !important;
}
@font-face{
    font-family: font;
       src: url('./photo/font/Edu_NSW_ACT_Hand_Pre/EduNSWACTHandPre-VariableFont_wght.ttf');
}
.content{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    background-image: url("./photo/Fundo\ Carne\ Refeição\ Grelhada.jpeg");
    background-size:cover;
    background-position:left;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;


}

#checkoutTotal{
    width: 100%;
    text-align: center;
}


.restoran{
    color: white;
    width: 20%;
    padding-top: 3%;
    font-size: 24px;
}

h2{
    text-align: center;
    height: 7vh;
    color: white;
    width: 100%;
}




.popup-box {
    position: fixed;
    bottom:  5px;
    border-radius: 12px;
   background:   linear-gradient(to right, #020202, #675403);

}

.popup-box iframe {
    border: none;
    width: 100%;
    height: 100%;
}

.popup-box.register {
    width: 52vw;
    height: 90vh;
      
}


.popup-box.auth {
    width: 25vw;
    height: 70vh;

}



.kit {
        width: 30vw;
    height: 20vh;
    object-fit: cover;
    padding-top: 20px;
    object-fit: cover;
    opacity: 0;
    animation: fadeMove 8s infinite ease-in-out;
}

@keyframes fadeMove {
    0% {
        opacity: 0;
        transform: translateY(10px);
    }
    20% {
        opacity: 1;
        transform: translateY(0);
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0;
        transform: translateY(10px);
    }
    100% {
        opacity: 0;
    }
}



.kitchen {
    width: 60px;
    object-fit: cover;
    opacity: 0;
    animation: fadeLoop 9s infinite ease-in-out;
}

@keyframes fadeLoop {
    0% {
        opacity: 0;
    }

     15% {
        opacity: 0,5;
    }

    20% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    65% {
        opacity: 0,5;
    }

    75% {
        opacity: 0,5;
    }
    85% {
        opacity: 0;
    }
    100% {
        opacity: 0,5;
    }
}





.res{
    display: flex;
    justify-content: space-between;
    width: 90%;
}



.nameall{
    display: flex;
    align-items: flex-end;
    height: 9vh;
    width: 95%;
}


.conteriner{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 4%;
    width: 90%;
    height: 14vh;
    font-size: 24px;
    color: white !important;
   
}
.kitoll{
    display: flex;
    width: 90vw;
    height: 23vh;
}

.cart{
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: url(./photo/add-to-cart.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding-right: 14px;
    padding-top: 9px;
    height: 8vh;
    width: 13vw;
    text-align: center;
    font-size: 16px;
      transition: transform 0.15s ease-out;
    will-change: transform;
    
    
}

#cartCount{
    width: 140px;
    position: relative;
    left: 20px; 
    top: 8px; 
    font-size: 14px;
   
  
}


.fast{
    font-size: 24px;
    padding-bottom: 20px;
    color: white !important;
    text-align: center;
    width: 80vw;
}

 main{
    height: auto; 
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 97vw;


}  


.step{
    display: flex;
    height: 12vh;
    background-color: rgba(0, 0, 0, 0.521);
    align-items: center;
    justify-content: center;
}


.step1{
    padding-top: 20px;
}

h1{
    width: 20vw;
    height: 10vh;
    font-size: 40px;
    text-align: center;
    border: none;
 




}
section{

    display: flex;
    justify-content: space-around;
    width: 95vw;
    height: 10vh;
    background-color: rgba(245, 251, 180, 0.245);
    margin-bottom: 14px;

}
.category{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 22px;
  


}

.category1{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 22px;
  


}



.category1:hover{
    color: #888787 !important;
}

.all{
    width: 5vw;
}

.inbox{
    display: flex;
    flex-direction: row;
    width: 95vw;
    min-height: 79vh;
    height: auto;
    margin-bottom: 30px;

}



#filter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    font-size: 17px;
    gap:17px;
}

.search{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:15%;
    width: 100%;
    height: 12vh;
   
}
.search1{
    width: 200px;
    height: 70px;
    margin-top: 7px;
    text-align: center;
    border: 1px solid rgb(209, 208, 208);
     border-radius: 2px;
}
.search1:hover{
      border: 1px solid rgb(92, 89, 89);
}

.vegetarian{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    text-align: center;
    height: 30px;
}

.nuts{
      display: flex;
    align-items: center;
    justify-content: center;
    gap:15%;
    text-align: center;
    height: 30px;
}

.spices{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    text-align: center;
    height: 30px;
    width: 13vw;


}

#filterSpiciness{
    text-align: center;
    border: 1px solid rgb(209, 208, 208);
    width: 60px;
    font-size: 12px;
    color: red;
    border-radius: 2px;
}

.minprice{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    text-align: center;
    height: 30px;
    width: 13vw;
   
   

}

.pricemin{
    width: 40px;
     border: 1px solid rgb(209, 208, 208);
    text-align: center;
       font-size: 12px;
    border-radius: 2px;
}

.maxprice{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:5%;
    text-align: center;
    height: 30px;
    width: 13vw;
  
}

.pricemax{
     width: 40px;
     border: 1px solid rgb(209, 208, 208);
    text-align: center;
       font-size: 12px;
    border-radius: 2px;
}
#removeFilters{
    background-color: rgb(169, 22, 22);
    width: 140px;
    height: 35px;
    border-radius: 6px;
    border: none;

}

#removeFilters:hover{
   background-color: rgb(175, 5, 5);
}

button.active {
  background: black;
  color: white;
}



.foodconteiner{
    display: flex;
    margin-top: 50px;
    flex-direction: column;
}

.product {
  padding: 10px;
  border: 1px solid gray;
  text-align: center;
}

#pagination {
  margin-top: 20px;
  text-align: center;
}

button {
  margin: 5px;
  padding: 5px 10px;
}







#food {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    grid-template-rows: auto;
    gap: 40px;
    width: 80vw;
    max-height: 160vh;

    justify-content: center; 
   
}

 .card{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 300px; 
    height: auto;
    max-height: 70vh;
    background-image: url("./photo/yelowtwlouw.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 5px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    color: #000;
   

}
 


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.25);
}

.card:hover {
    background-size: 105%;
}



.img{
    width: 100%;
    height: 35vh;

}
.imgall{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40vh;

}

.itemall{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 14vh;
  
}

p{
    padding-bottom: 2%;
}

.card1{
    display: flex;
    gap:15%;
    justify-content: center;
    width: 100%;
    height: 5vh;
   
} 



.item{
    display: flex;
    justify-content: center;
    gap:14%;
    width: 18vw;
    height: 6vh;

}



.name{
    position: relative;
    top:20px;
    text-align: center;
    padding-left: 20px;
    width: 100px;
    min-height: 5vh;
    font-size: 18px;


}
 

.group1{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    height: 10vh;
    width: 90%;

} 

.price{
    color: red;
    font-size: 16px;
    width: 100px;
    font-weight: bold;

}




.cart-item{
    font-size: 17px;
    min-height: 25vh;

}
.remove1{
    width: 110px;
    border-radius: 3px;
    height: 30px;
    border:none;
    background-color: rgb(169, 22, 22);
}
.remove1:hover{
      background-color: rgb(175, 5, 5);
}
.priceall{
    width: 10vw;
   
}

.oll{
    display: flex;
    align-items: center;
    align-content: space-between;
    justify-content: space-between;
     gap:10%;

}
.spiciness{
    position: relative;
    top:7%;
    font-size: 24px;
    color: red;
}


 .button1{
    width: 130px;
    border: none;
    background-color: rgb(2, 102, 2);
    height: 5vh;
    border-radius: 5px;
}



.button1:hover{
    background-color:  rgb(1, 82, 1);
    box-shadow: 2px 2px 3px  rgba(0, 84, 0, 0.229);
}

.all{
    display: flex;
   justify-content: center;
    width: 100%;

}
.all1{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60vw;

}



.cart-modal {
    display: none;      
    position: fixed;
    flex-direction: column;
    background: rgba(0,0,0,0.5);
    justify-content: flex-start;
    align-items:center;
     overflow-y: auto;
} 


.title{
    margin-top: 5%;
    margin-bottom: 5%;
}

  #cartModal {
    position: fixed;
    top: 0;
    left: 60%;
    width: 40%;
    height: 100%;
    background: rgba(0, 0, 0, 0.992); 
      display: none;             
   z-index: 3;


}  





.cart-content {
    padding: 20px;
    border-radius: 10px;
    width: 400px;
    max-height: 80%;
    overflow-y: auto;
}


#popupModal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.6);
    justify-content: center;
    align-items: center;
    z-index: 10000;


}

#popupModal[style*="display: flex"] {
    pointer-events: auto;
    opacity: 1;


}



.cart-content {
    color: black;
    width: 400px;
    max-height: 80vh;
    margin: 50px auto;
    padding: 20px;
    overflow-y: auto;
    border-radius: 10px;
    border: none;
    background-image: url(./photo/yelowtwlouw.jpeg);
     background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.cartimg{
    max-width: 60px;
    height: auto;
    object-fit: cover;

    transition: transform 0.15s ease-out;
    will-change: transform;
}


.delete-all{
    width: 180px;
    border-radius: 3px;
    height: 45px;
    border:none;
    background-color: rgb(169, 22, 22);
}
.delete-all:hover{
      background-color: rgb(175, 5, 5);
}




.checkout{
    width: 180px;
    border-radius: 3px;
    height: 45px;
    border:none;
    background-color: rgb(2, 102, 2);
}



   

.checkout:hover{
    background-color:  rgb(1, 82, 1);
    box-shadow: 2px 2px 3px  rgba(0, 84, 0, 0.229);
}





.imgcart{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 85%;
    gap:5%;
    transition:
    transform 0.4s cubic-bezier(.16,1,.3,1),
    filter 0.4s ease;
    will-change: transform;


}   
.imgcart:hover{
    transform:
        translateY(-6px)
        rotate(-6deg)
        scale(1.1);
    filter: drop-shadow(0 8px 16px rgba(0,0,0,0.25));
} 






.close {
    position: relative;
    left: 30%;
    font-size: 42px;
    color: rgb(235, 6, 6);

}
.close:hover{
    color:  rgb(177, 2, 2);


}


.popup-box {
    position: relative;
 
}

#closePopupBtn {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9;

    width: 35px;
    height: 35px;
    background: none;
    border: none;
    font-size: 26px;
    cursor: pointer;
}




.image{
    width: 80px;
}

.pricee{
    color: red;
}

.vegetarian{
    width: 80%;
}


#themeToggle{
    display: flex;
    width: 10vw;
    border: none;
    background: none;
    font-size: 24px;

}





.modal {
    display: none; 
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    z-index: 6;
   
}

.modal-content1 {
  position: relative;  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2%;
  padding: 20px;
  width: 25vw;
  height: 55vh;
  border-radius: 8px;
  background: linear-gradient(to right, #020202, #675403);
}



.cancel{
    position: absolute;
    top: 10px;
    right: 5px;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}


.modal-content2 {
    display: flex;
  position: relative;  
  justify-content: flex-end; /* აუცილებელია */
}




:root {
  --bg-color: #fff;
  --text-color: #000;
  --modal-bg: #fff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}


body.dark {
  --bg-color: #1a1a1a;
  --text-color: #f0f0f0;
  --modal-bg: #2a2a2a;
}
.popup1{
    position: absolute;
    top: 40px; 
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1000;

}


.allregistracion{
    display: flex;
    gap: 3%;
    justify-content:flex-end;
    align-items: flex-end;
    width: 45vw;
    min-height: 10vh;

}

#registerBtn{
    background-color: rgb(2, 102, 2);
    width: 12vw;
    height: 6vh;
    border: none;
    border-radius: 5px;

}



#registerBtn:hover{
    background-color:  rgb(1, 82, 1);
    box-shadow: 2px 2px 3px  rgba(0, 84, 0, 0.229);
}

#authBtn{
    background-color: rgb(2, 102, 2);
    width: 12vw;
    height: 6vh;
    border: none;
    border-radius: 5px;
}

#authBtn:hover{
    background-color:  rgb(1, 82, 1);
    box-shadow: 2px 2px 3px  rgba(0, 84, 0, 0.229);
}

.number{
     border: 1px solid rgb(209, 208, 208);
     text-align: center;
     width: 17vw;
     height: 5vh;
}
.cvc{
     border: 1px solid rgb(209, 208, 208);
     text-align: center;
     width: 8vw;
     height: 5vh;
}


.pay{
    background-color: rgb(2, 102, 2);
    width: 16vw;
    height: 7vh;
    border-radius: 5px;
    font-size: 15px;
    border: none;
  
}

.pay:hover{
    background-color:  rgb(1, 82, 1);
    box-shadow: 2px 2px 3px  rgba(0, 84, 0, 0.229);
}

#paymentStatus{
    font-size: 16px;
    margin-top: 15px;

}



h3{
    color: white;


}




#closeBurger {
    display: none;
    margin-top: 10px;
    background: none;
    color: rgb(177, 3, 3);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}



#mainNav .allregistracion {
    display: flex;
    gap: 10px;
  
    
}


#burger {
    display: none;
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
}








@media screen  and (min-width: 1001px) and (max-width: 1300px){



h1{
    width: 40vw;
}



    .imgall{
        max-height: 30vh;
    }

    .img{
        width: 100%;
        max-height: 25vh;
    }

#section{
    flex-wrap: wrap;
    gap:5%;
    height: 12vh;
    font-size: 15px;
    margin-bottom: 30px;
    
}

#cartModal{
   width: 100%;

    left: 0px;
   position: absolute; 

  
}

.modal-content1{
    width: 30vw;
}


#filter{
    width: 30vw;
    min-height: 30vh;

}


.search1{
    min-height: 5vh;
}

#removeFilters{
    width: 10vw;
}

.card{
    width: 300px;
}


#food{
    gap:30px;
    max-height: 220vh;
    height: auto;
    width: 70vw;

}
.name{
   
    width: 20vw;
}


.item{
    width: 30vw;
}

#closePopupBtn{
    bottom: 55vh;

}

.cart-item{
    width: 50vw;
    min-height: 20vh;

}
.itemname{
    width: 50vw;
}

.priceall{
    width: 35vw;
}


.many{
    width: 30vw;
}


.remove1{
    width: 100px;
    min-height: 30px;
    font-size: 12px;
}



  #cartModal {
    width: 60vw;
    left: 40%;



}  


.popup-box.auth{
    width: 40vw;
}

}
 









@media screen  and (min-width: 501px) and (max-width: 1000px){



  header {
        max-width: 100%;
        max-height: 25vh;
        gap:5%;
     
    }

    .kitoll {
        align-items: center;
        justify-content: flex-start;
        width: 93vw;
        max-height: 20vh;

    }



    .kit {
        width: 16vw;
        object-fit: contain;
        height: auto;

    }


    #registerBtn{
        width: 200px;
    }
    #authBtn{
        width: 200px;
    }

    .allregistracion{
        align-items: center;
        flex-direction: row;
        width: 53vw;
        
    }




    .conteriner{
    display: flex;
    justify-content: space-between;
    width: 90vw;
    max-height: 10vh;

    }


    .cart{
        max-width: 13vw;
    }



    .imgcart{
        width: 40vw;
    }


    .rest{
        display: flex;
    justify-content: center;
        min-height: 10vh;
        width: 95vw;
    }

    .fast{
        font-size: 18px;
        
    }




    #cartModal{
        width: 100%;
        border: 2px solid red;
        left: 0px;
        position: absolute; 
    
    }


    .many{
    
        width: 22vw;
    }

    .modal-content{
        justify-items: center;
        width: 90%;
        min-height: 40vh;

    }




    .all1{
        width: 80vw;
    
    }

    .kitchen{
        width: 8vw;
    
    }

    #section{
        min-height: 15vh;
        flex-wrap: wrap;
        gap:3%;

    }


    h1{

        width: 50vw;
    }
    .category1{
        font-size: 16px;
    
    }
    .inbox{
        flex-direction: column;

    }

    #filter{
        width: 96vw;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        max-height: 30vh;
    padding-bottom: 40px;


    }


    .search{
        max-height: 4vh;
        margin: 16px;
    
    }

    .search1{
        width: 40vw;
        min-height: 5vh;
    }


    .vegetarian{
        font-size: 14px;
        width: 30vw;
    }
    .nuts{
        font-size: 14px;
        width: 17vw;
    }

    .spices{
        font-size: 14px;
        width: 28vw;
    }
    #filterSpiciness{
        width: 14vw;
    }

    .minprice{
        font-size: 14px;
        width: 28vw;
    }
    .maxprice{
    font-size: 14px;
        width: 28vw;

    }


    #removeFilters{
        width: 20vw;
    }


    #food{
        width: 95vw;
        max-height: 420vh;
        height: auto;

    }
    .card{
        width: 100%;
        height: auto;
    }


    .name{
    
        width: 60vw;
    }


    .itemall{
        width: 90%;
    }
    .item{
        width: 100%;
    }

    .button1{
        width: 140px;
    }
    .step1{
        font-size: 16px;
        width: 90vw;
    }


    #closePopupBtn{
        bottom: 54vh;
    }

      .imgall{
        max-height: 30vh;
    }

    .img{
        width: 100%;
        max-height: 25vh;
    }

    .popup-box.register {
        width: 80vw;
        min-height: 100vh;
        
    }

    .popup-box.auth {
    width: 370px;

    }



    .modal-content1{
    
        width: 45vw;
    }


    .pay{
        width: 200px;
    }




    .cancel{
        
        font-size: 18px;
        

    }


    .cvc1{
        display: flex;
        justify-items: center;
        justify-content: center;
        gap: 6%;
        width: 40vw;
    }
    .cvc{
        width: 80px;
    }

    .number{
        width: 30vw;
        min-height: 4vh;
        
    }


    .cart-item{
        width: 65vw;
        min-height: 20vh;
    }
    .itemname{
        width: 50vw;
    }
    .priceall{
        width: 35vw;
    }

    .many{
        width: 35vw;
    }


    .remove1{
        width: 100px;
        min-height: 30px;
        font-size: 12px;
    }




    #cartModal {
        width: 80vw;
        left: 19%;



    }  



}







@media screen and (max-width: 500px) {

    header {
        max-width: 100%;
        max-height: 25vh;
        gap:5%;
     
    }

    .kitoll {
        align-items: flex-end;
        justify-content: space-around;
        width: 90vw;
        max-height: 15vh;

    }



    .kit {
        width: 30vw;
        object-fit: contain;
        height: auto;
    }



  #mainNav .allregistracion {
        display: none;
        flex-direction: column;
        position: absolute;
        align-content: center;
        top: 0px; 
        left: 38%;
        width: 60vw;
        gap:4%;
        min-height: 35vh;
        background: #fff;
        border: 1px solid #ccc;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        z-index:3;
       
    } 

    #burger {
        display: block;
        padding-top: 5px;
        color: white;
        font-size: 40px;
    }

    #mainNav.active .allregistracion {
        display: flex;
    }


#mainNav .allregistracion {
    transition: all 0.3s ease;
    opacity: 0;
    transform: translateY(-10px);
}

#mainNav.active .allregistracion {
    opacity: 1;
    transform: translateY(0);
}




.conteriner{
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    justify-content: center;
    width: 50vw;
    max-height: 10vh;


}





    #closeBurger {
        display: block;
        position: absolute;
        bottom:76%;
        left: 64%;
        font-size: 20px;
    }

    #themeToggle{
        flex-direction: column;
        align-items: center;
        width: 80%;
        min-height: 6vh;

    }

    #registerBtn{
        width: 150px;

    }
    #authBtn{
        width: 150px;
    }

    .allregistracion{
        align-items: center;
        justify-content:space-evenly;

    } 

    .imgall{
        max-height: 30vh;
    }

    .img{
        width: 100%;
        max-height: 25vh;
    }

    h1{
        font-size: 22px;
        width: 50vw;
        max-height: 4vh;
    }
    .all1{
        width: 90vw;
        min-height: 12vh;


    }




    .cart{
        max-width: 13vw;
    }



    .imgcart{
        width: 40vw;
    }


    .rest{
        display: flex;
    justify-content: center;
        max-height: 14vh;
        width: 95vw;
    
    }

    .fast{
        font-size: 16px;
    }




    #cartModal{
        width: 100%;
        left: 0px;
        position: absolute; 
        
    }


    .many{
    
        width: 22vw;
    }

    .modal-content{
        justify-items: center;
        width: 300px;
        min-height: 60vh;
        height: auto;
    
    }

    .cancel{
        font-size: 18px;

    }


    .cvc1{
        display: flex;
        justify-items: center;
        justify-content: space-between;
        width: 60vw;
    }
    .cvc{
        width: 80px;
    }

    .number{
        width: 60vw;
        min-height: 4vh;
        
    }



    h1{
        font-size: 22px;
        width: 50vw;
        max-height: 4vh;
    }
    .all1{
        width: 90vw;
        max-height: 8vh;


    }



    .kitchen{
        width: 8vw;
    
    }

    #section{
        width: 90%;
        min-height: 15vh;
        padding: 8px;
        gap: 2%;
        flex-wrap: wrap;

    }


    .category1{
        font-size: 14px;
    
    }
    .inbox{
        flex-direction: column;
        align-content: flex-start;
    }

    #filter{
        width: 95vw;
        flex-direction: row;
        flex-wrap: wrap;
        min-height: 40vh;
    justify-content: center;
    margin-bottom: 20px;
    

    }



    .search{
        max-height: 4vh;
        margin-bottom: 20px;
    }

    .search1{
        width: 70vw;
        min-height: 5vh;
    }


    .vegetarian{
        font-size: 14px;
        width: 30vw;

    
    }

    .nuts{
        font-size: 14px;
        width: 30vw;

    }

    .modal-content1{
        width: 80%;
    }

    .spices{
        flex-direction: column;
        font-size: 14px;
        min-width: 30vw;
        min-height: 10vh;

    }

    #filterSpiciness{
        width: 20vw;
    }

    .minprice{
        flex-direction: column;
        font-size: 14px;
        min-width: 23vw;
        min-height: 10vh;

    }
    .maxprice{
        flex-direction: column;
    font-size: 14px;
        min-width: 24vw;

    }


    #removeFilters{
        width: 150px;
        min-height: 40px;
    }


    #food{
        width: 90vw;
        max-height: 440vh;
        margin: 0;

    }
    .card{
        width: 100%;
    }



    .nameall{
        width: 100%;
        margin-left: 30px;
    }


    .name{
    max-height: 30px;
        width: 170px;
    }


    .itemall{
        width: 90%;
    }
    .item{
        width: 100%;
    }

    .button1{
        width: 150px;
        margin-bottom: 10px;
    }
    .step1{
        font-size: 16px;
        width: 90vw;
    }




    #closePopupBtn{
        position: absolute;
        right: 17px;
        top: 5px;

    }



    .popup-box.register {
        width: 95vw;
        min-height: 100vh;
        
    }

    .popup-box.auth {
    width: 95vw;
    max-height: 65vh;


    }


 


    .foodconteiner{
        margin: 0;
        align-items: center;
    }





    .pay{
        width: 200px;
    }


    .oll{
        min-height:25vh;
    }

    .cart-item{
        width: 90vw;
        min-height: 30vh;
    }
    .itemname{
        width: 40vw;

    }

    .priceall{
        width: 45vw;
    }

    .many{
        width: 45vw;
    }

    .remove1{
        width: 100px;
        min-height: 30px;
        font-size: 12px;
    }
    h3{
        text-align: center;
        font-size: 24px;

    }


    .delete-all{
        width: 120px;

    }

    .checkout{
        width: 120px;

    
    }

}







